<!-- <p>Bem vindo ao {{ curso }}</p>

<ul>
    <li *ngFor="let curso of cursos">{{ curso }}</li>
</ul> -->

<!-- <div>
  <app-two-way-data-bind> </app-two-way-data-bind>
</div>
<div>
  <app-output valor="10" (mudouValor)="onMudouValor($event)"></app-output>
</div>

<div>
  <app-ciclo [valorInicial]=valor *ngIf="!deletarCiclo"></app-ciclo>,
  <button class="btn btn-primary" (click)="mudarValor()">Mudar valor</button>
  <button class="btn btn-danger" (click)="destruirCiclo()">Pregue fogo</button>
</div> -->

<div>
  <app-criar-curso></app-criar-curso>
</div>